node_modules
dist
!packages/sdk/dist/
!packages/sdk/dist/**
!apps/admin/dist/
!apps/admin/dist/**
.next
.turbo
*.log
.DS_Store
.env
.env.local
*.sqlite
*.db
.pnpm-debug.log
*.tgz
packages/sdk/.npmrc
apps/server/data/
